yocto-workspace/build-des/tmp*/
yocto-workspace/build-des/cache/
yocto-workspace/build-des/downloads/
yocto-workspace/build-des/sstate-cache/
yocto-workspace/.yocto-cache/
Head-Unit/build/
.vscode/
.claude/
headunit-build/
